{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="conA">
        <div class="container">
          <div class="spacer"></div> 
        </div>
      </section>

  <section class="conB">
    <div class="container">
      <div class="description">

        <h1> 렛미스타트는? </h1>
        <p> 렛미스타트는 서울대학교 내 유일한 뮤지컬 동아리로  
        제 1회 정기공연 '오! 당신이 잠든 사이' 부터 <br> 
        제 15회 정기공연 '소울라이트'까지 
        1년에 2회의 정기공연을 올리고 있습니다.
        </p>          
      </div>
       

   <section class="conB">
    <div class="container">
      <div class="description">

        <h1> 렛미스타트는? </h1>
        <p> 렛미스타트는 서울대학교 내 유일한 뮤지컬 동아리로  
        제 1회 정기공연 '오! 당신이 잠든 사이' 부터 <br> 
        제 15회 정기공연 '소울라이트'까지 
        1년에 2회의 정기공연을 올리고 있습니다.
        </p>          
      </div>
  <section class="conB">
    <div class="container">
      <div class="description">

        <h1> 렛미스타트는? </h1>
        <p> 렛미스타트는 서울대학교 내 유일한 뮤지컬 동아리로  
        제 1회 정기공연 '오! 당신이 잠든 사이' 부터 <br> 
        제 15회 정기공연 '소울라이트'까지 
        1년에 2회의 정기공연을 올리고 있습니다.
        </p>          
      </div>
 
{% endblock content %}



