{% extends "base.html" %}
{% load static %}

{% block javascript %}
{% endblock javascript %}

{% block content %}

{% static "" as baseUrl %}
{{block.super}}

<section id="activity">

  <div class="container">
    <div class='description'>

      <h1> 주요 활동 </h1>
      <p> 정기공연과 갈라쇼 외에도 YB와 OB가함께하는 렛미여행, 
        뮤지컬 단체 관람, 플래시몹, 교내 공식 행사, 방송 출연 등 다양한 활동을 하고 있습니다.
      </p>

    </div>


    <div class="photo-text">
      <div class="text" style="text-align:left;">
        <h1>단체 관람</h1>
        <p>
        백문이 불여일견, 좋은 공연을 올리기 위헤서는 좋은 공연을 봐야 한다! 동아리원과 함께니 재미도 감동도 2배~     
        </p>
      </div>
      <div class="photo-grid">
        {% for idx in "1234" %} 
        <div class= "grid-photo" style="background-image: url('{{baseUrl}}/img/group_preview_{{idx}}.jpg')"></div>
        {% endfor %}
      </div>
    </div>

    <div class="photo-text">
      <div class="text" style="text-align: right;">
        <h1>렛미 여행</h1>
        <p>
        술마시러 가는 대성리 MT는 굿-바이. 기획력 넘치는 렛미-인들이 준비하는 
        제대로 된 힐링. 렛미 여행!
        </p>
      </div>
      <div class="photo-grid">
        {% for idx in "1234" %}
        <div class= "grid-photo" style="background-image: url('{{baseUrl}}/img/travel_{{idx}}.jpg')"></div>
        {% endfor %}
      </div>
    </div>


    <div class="photo-text">
      <div class="text" style="text-align: left;">
        <h1>교내 행사 참여</h1>
        <p>
        공대 축제 등 단과대 축제, 교내 축제 폐막식 등 다양한 무대 뿐 아니라, <br> 서울대학교 70주년 기념식 등 공식 행사에도 초청받아 참여하고 있습니다!   
        </p>
      </div>
      <div class="photo-grid">

        <div class= "grid-photo" style="background-image: url('{{baseUrl}}/img/activity_official_1.jpeg')"></div>
        <div class= "grid-photo" style="background-image: url('{{baseUrl}}/img/activity_official_2.jpeg')"></div>
        <div class= "grid-photo" style="background-image: url('{{baseUrl}}/img/activity_official_3.jpeg')"></div>
        <div class= "grid-photo" style="background-image: url('{{baseUrl}}/img/activity_official_4.jpeg')"></div>
      </div>
    </div>



    <div class="photo-text">
      <div class="text" style="text-align: right;">
        <h1>친목 활동</h1>
        <p>
        서로 친해지길 바라~ 홈커밍데이, 버들골 점심모임, 갈라쇼 단체안무 연습, 렛미 장터 등 다양한 활동이 기다리고 있습니다!
        
        </p>
      </div>
      <div class="photo-grid">
        <div class= "grid-photo" style="background-image: url('{{baseUrl}}/img/activity_homecoming_1.jpeg')"></div>
        <div class= "grid-photo" style="background-image: url('{{baseUrl}}/img/activity_play_1.jpeg')"></div>
        <div class= "grid-photo" style="background-image: url('{{baseUrl}}/img/activity_play_2.jpeg')"></div>
        <div class= "grid-photo" style="background-image: url('{{baseUrl}}/img/activity_play_3.jpeg')"></div>

      </div>
    </div>

  </div>
</section>


{% endblock content %}


