{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block javascript %}
{{ block.super}}
  <script>
    $(function(){
      $(".modal-content").click(function(){
        $("#modal").addClass("active");
      })

      $(".close").click(function(){
        $("#modal").removeClass("active")
      })

      $(window).click(function(){
        $("#modal").removeClass("active")
      })
    })
  </script>

{% endblock javascript %}

{% block content %}

{% static "" as baseUrl %}
{{block.super}}



<section id="gala" class="secA">

  <div class="container">
    <div class='description'>

      <h1> 갈라쇼 </h1>
      <p> 렛미스타트에 갓 들어온 신입이 맞이할 가장 큰 이벤트, 갈라쇼!<br class="desktop-only"> 
      관객들 앞에서 좋아하는 넘버를 연기하고, 동아리원들과 함께 단체 안무를 준비하는 등 
      <br class="desktop-only"> 정기 공연 준비 과정을 미리 맛볼 수 있는 렛미스타트의 작은 축제입니다.
      </p>

    </div>

    <div class="photo-grid">
    {% for idx in "123456" %}
    {% static "img/gala_photogrid" as gala_photogrid_root %}
    <div class="grid-photo" style="background-image: linear-gradient(rgba(24,3,42,0.1),rgba(0,0,0,0.1)), url('{{gala_photogrid_root}}_{{idx}}.jpg')"></div>
    {% endfor %} 
    </div>


    <div class="photo-text">
      <div class="text">
        <h1>역대 갈라쇼 정보</h1> 
      </div>
      <div class="photo-grid">
        {% for gala in gala_list %} 
          <div class= "grid-photo" style="background-image: url('{{ gala.poster.url }}')">
            <a data-fancybox="gallery" href="{{gala.poster.url}}" class="img-description">크게 보기</a>       
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section>



{% endblock content %}








