{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block swiper %}
{{block.super}}
{% endblock swiper %}

{% block content %}
{% static "" as baseUrl %}

<section class="conA sectionA">
<div class="swiper-container swiper-main">
  <div class="swiper-wrapper">
    {% for idx in "123" %}
    <div class="swiper-slide">
      <div class="main-slide" style="background-image:linear-gradient(rgba(24,3,42,0.3), rgba(0,0,0,0.3)), url('{{baseUrl}}/img/main_background_{{idx}}.jpg')">
        <!--
          <div class="iframe-wrap">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fletmestart%2Fvideos%2F1947738842192551%2F&width=1400&appId=2124710811118616&&autoplay=1" 
          width='1400' scrolling="no" frameborder="0" 
          allowTransparency="true" 
          allow="encrypted-media" allowFullScreen="true"
          autoplay="true"></iframe>
          </div>
          !-->
          <div class="container">
            <h1 style="font-size: 3rem;">9. 4 ~ 9. 23</h1>
            <p>서울대학교 유일 뮤지컬동아리 <span style="color:var(--bg-gold)">렛미스타트</span>에서</p>
            <h1><span style="color:var(--bg-gold);">신입 기수</span>를 모집합니다</h1>
            <a href="{% url "recruit" %}">Let me start !</a>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>
</section>

<section class="conB">
  <div class="container">
    <div class="description">

      <h1> 렛미스타트는? </h1>
      <p> 렛미스타트는 서울대학교 내 유일한 뮤지컬 동아리로  
      제 1회 정기공연 '김종욱 찾기' 부터 <br> 
      제 {{play_list.0.idx}}회 정기공연 '{{play_list.0.title}}'까지 
      1년에 2회의 정기공연을 올리고 있습니다.
      </p>          
    </div>

    <!-- Slider main container -->
    <div class="swiper-container swiper-poster">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        {% if play_list %}
        {% for play in play_list %}

        <div class="swiper-slide">
          <div>
            <a class="img-description" href="{% url 'play' %}?id={{play.idx}}">
              자세히 보기  
            </a>
            <img src="{{play.poster.url}}">
          </div>
        </div>

        {% endfor %}
        {% else %}
        <p>No polls are available.</p>
        {% endif %}

        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>       



  </div> 
</section>

<section class="conE">
  <div class="container">
    <div class="description"> 
      <h1>렛미스타트의 팀</h1>
      <p>렛미스타트는 총 5개 팀으로 구성되어있으며, 각 팀은 완성도 있는 극을 올리기 위해 함께 노력하고 있습니다.</p>
    </div>

    <div class="swiper-container swiper-general">
      <div class="swiper-wrapper">
        <div class="text swiper-slide">
          <span class="fa fa-bar-chart icon"></span>
          <h2>기획팀</h2>
          <p>각종 행사와 공연 홍보, 예매 등의 업무를 담당하는 렛미스타트의 살림꾼!</p>
          <a href="{% url "team" %}#team-planning">더보기 
            <span class="fa fa-chevron-right"></span>
          </a>
        </div>

        <div class="text swiper-slide">
          <span class="fa fa-wrench icon"></span>
          <h2>무대팀</h2>
          <p>관객들을 새로운 세상으로 데려가기 위해 밤낮없이 고민하는 능력자 집단!</p>
          <a href="{% url "team" %}#team-stage">더보기 
            <span class="fa fa-chevron-right"></span>
          </a>
        </div>

        <div class="text swiper-slide">
          <span class="fa fa-child icon"></span>
          <h2>배우팀</h2>
          <p>무대에서 만나게 될 얼굴! 연습, 또 연습, 또 연습, 또 연습..</p>
          <a href="{% url "team" %}#team-actor">더보기 
            <span class="fa fa-chevron-right"></span>
          </a>
        </div>

        <div class="text swiper-slide">
          <span class="fa fa-compass icon"></span>
          <h2>연출팀</h2>
          <p>대본 각색부터 의상, 크루까지. 극의 모든것을 총괄한다. 렛미의 나침반!</p>
          <a href="{% url "team" %}#team-produce">더보기 
            <span class="fa fa-chevron-right"></span>
          </a>
        </div>

        <div class="text swiper-slide">
          <span class="fa fa-music icon"></span>
          <h2>음악팀</h2>
          <p>렛미의 모든 음악이 거쳐가는 곳, 렛미 최강의 전문가집단!</p>
          <a href="{% url "team" %}#team-music">더보기 
            <span class="fa fa-chevron-right"></span>
          </a>
        </div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>
  </div> 
</section>

<section class="conF">
  <div class="container">
    <div class="description"> 
      <h1>주요 활동</h1>
      <p>정기공연 외에도 매 학기마다 모든 구성원이 다함께 준비하는 갈라쇼, YB와 OB가함께하는 렛미여행,
      <br> 뮤지컬 단체 관람, 플래시몹, 교내 공식 행사, 방송 출연 등 다양한 활동을 하고 있습니다.</p>
    </div>


    {% for idx in "123456" %}
    {% static "img/intro_photogrid" as index_photogrid_root %}
    <div class="grid-photo" style="background-image: url('{{index_photogrid_root}}_{{idx}}.jpg')"></div>
    {% endfor %} 

  </div>
  </div>
  <div class="bg-img-wrapper">
    <div class="bg-img">
    </div>
  </div>

</section>
{% endblock content %}



