{% extends 'base.html' %}
{% load static %}

{% block jqueryplugin %}

<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
{% endblock jqueryplugin %}

{% block javascript %}

   <script>
    $(function(){
      $(document).ready(function(){

        $('.counter').counterUp({
          delay: 10,
          time: 1500
        });
      });
    
    });


  </script>
{% endblock javascript %}


{% block content %}

{% static "" as baseUrl %}
{{block.super}}



<section class="conB">
  <div class="container">
    <div class="description">

      <h1> 렛미스타트는? </h1>
      <p> 렛미스타트는 서울대학교 내 유일한 뮤지컬 동아리로  
      제 1회 정기공연 '오! 당신이 잠든 사이' 부터 <br> 
      제 15회 정기공연 '소울라이트'까지 
      1년에 2회의 정기공연을 올리고 있습니다.
      </p>
    </div>

    <div class="counter-container">  

      <div class="wrap-counter">  
        <span class="counter">2011</span>
        <span>년 부터</span>
      </div>

      <div class="wrap-counter">  
        <span class="counter">225</span>
        <span>명이</span>
      </div>

      <div class="wrap-counter">  
        <span class="counter">12889</span>
        <span>명의 관객 앞에서</span>
      </div>

      <div class="wrap-counter">  
        <span class="counter">15</span>
        <span>개의 극을 올렸습니다.</span>
      </div>

    </div>
    <div class="photo-text" style="padding:0; border-top:none;">
      <div class="photo-grid intro">
        <div class="grid-photo" style="background-image: url('{{baseUrl}}img/play_groupphoto_7.jpg')">
        </div>
        <div class="grid-photo" style="background-image: url('{{baseUrl}}img/play_groupphoto_8.jpg')">
        </div>
        <div class="grid-photo" style="background-image: url('{{baseUrl}}img/play_groupphoto_10.jpg')">
        </div>
        <div class="grid-photo" style="background-image: url('{{baseUrl}}img/play_groupphoto_11.jpg')">
        </div>
        <div class="grid-photo" style="background-image: url('{{baseUrl}}img/play_groupphoto_12.jpg')">
        </div>
        <div class="grid-photo" style="background-image: url('{{baseUrl}}img/play_groupphoto_13.jpg')">
        </div>
      </div>
    </div>


</section>   

<section class="conE">
  <div class="container">
    <div class="description" style="padding-bottom:0;">
      <h1> 활동 개요</h1>
      <div class="photo-text" style="border-top: none; padding:0;">
        <div class="photo-grid">
          <img src="{{baseUrl}}img/timeline.png"> 
        </div>
      </div>
    </div>
  </div>
</section>

<section class="conB">
  <div class="container">
    <div class="description">
      <h1> 렛미스타트 연혁 </h1>
      <div class="photo-text" style="border-top: none; padding:0;">
        <div class="photo-grid">
          <img src="{{baseUrl}}img/history.png"> 
        </div>
      </div>
    </div>
  </div>
</section>   

{% endblock content %}


