
{% extends "base.html" %}
{% load static %}
{% load homepage_extras %}
{% block javascript %}
{% endblock javascript %}

{% block content %}

{{block.super}}

<section id="members">

  <div class="container">
    <div class='description'>

      <h1> 사람들 </h1>

    </div>

    <div class="nav-members">
      {% for play in play_list %}
      <div class="member-btn-wrap">
        <a href="?id={{play.idx}}" class="member-btn">
          {{play.idx}}회 정기공연<br>{{play.title}}
        </a>
      </div>
      {% endfor %}
      <div class="member-btn-wrap empty"><a></a></div>
      <div class="member-btn-wrap empty"><a></a></div>
      <div class="member-btn-wrap empty"><a></a></div>
      <div class="member-btn-wrap empty"><a></a></div>
      <div class="member-btn-wrap empty"><a></a></div>
    </div>


    {% for team in team_list %}
    <div class="photo-text {% if forloop.counter|divisibleby:2 %} photo-right {% endif %}">
      <div class="photo-grid">
        {% for group_photo in play.teamphotos|in_team:team %}
        <div class="grid-photo" style="background-image: url('{{group_photo.group_photo.url}}')">
        </div>
        {% endfor %}
      </div>
      <div class="text">
        <h1>{{team}}팀</h1>
        <div class="member-list">
          {% for member in play.members|in_team:team|distinct_member %}
          <p class="member">
          {{member.admission_order_letme}}기 {{member.name}} ({{member.major}} {{member.admission_year}})  
          {% if member.position == "팀장" %}<b>[팀장]</b>{% endif %}
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}

</section>


{% endblock content %}


