
{% extends "base.html" %}
{% load static %}
{% load homepage_extras %}
{% block javascript %}
{% endblock javascript %}

{% block content %}

{{block.super}}

<section id="members">

  <div class="container">
    <div class='description'>

      <h1> 사람들 </h1>

    </div>

    <div class="nav-members">
      {% for play in play_list %}
      <div class="member-btn-wrap">
        <a href="?id={{play.idx}}" class="member-btn">
          {{play.idx}}회 
        </a>
      </div>
      {% endfor %}
      <div class="member-btn-wrap empty"></div>
      <div class="member-btn-wrap empty"></div>
      <div class="member-btn-wrap empty"></div>
      <div class="member-btn-wrap empty"></div>
      <div class="member-btn-wrap empty"></div>
    </div>


    {% for team in team_list %}
    <div class="photo-text">
      <div class="photo-grid">
        <img src="{% static 'img/team_planning.png'%}" alt="">
      </div>
      <div class="text">
        <h1>{{team}}팀</h1>
        <div class="member-list">
          {% for member in play.members|in_team:team %}
          <p class="member">
          {{member.admission_order_letme}}기 {{member.name}} ({{member.major}} {{member.admission_year}})  
          {% if member.position == "팀장" %}<b>[팀장]</b>{% endif %}
          </p>
          {% endfor %}
        </div>
      </div>
      {% endfor %}

    </div>
</section>


{% endblock content %}


