{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block javascript %}
{{ block.super}}
{% endblock javascript %}

{% block content %}

{% static "" as baseUrl %}
{{block.super}}
<!-- Slider main container -->
<section class="conB">
  <div class="container">   
    <div class="description">

      <h1> 정기공연 </h1>
      <p class="mid-width">정기공연은 렛미의 꽃! 렛미스타트의 모든 활동은 
      정기공연을 위한 것이라고 해도 과언이 아닙니다. 
      극의 선정부터 대본 각색, 넘버 해석, 무대 제작, 홍보와 기획까지 
      렛미의 손을 거치지 않는 곳이 없습니다.   
      제 1회 정기공연 '김종욱 찾기' 부터, 제 15회 정기공연 '소울라이트'까지 
      1년에 2회씩 총 15회의 정기공연을 성공적으로 올렸습니다.
      </p>          
    </div>

    <div class="swiper-container swiper-container-small">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <!-- Slides -->
        {% if play_list %}
        {% for play in play_list %}
          
        <div class="swiper-slide">
          <a href="{% url 'play' %}?id={{play.idx}}#playprofile">
            <img src="{{play.poster.url}}">
          </a>
        </div>

        {% endfor %}
        {% else %}
        <p>No polls are available.</p>
        {% endif %}

        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination">
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div style="height: 30px;" id="playprofile"></div>
  </div>

</section>

<section class="play-profile">
  <div class="container flex">

    <div class="play-poster">
      
      <img src="{{play.poster.url}}" alt="">
    </div>

    <div class="play-description text text-responsive">
      <h2 style="margin-top: 10px;">제{{play.idx}}회 정기공연 </h2> 
      <h1>{{play.title}}</h1>
      <h3>시놉시스</h3>
      <p>{{play.synopsis}}</p>
    </div>
  </div>

</section>

{% if play.castings.all %}

<section class="play-people">

  <div class="container">
    <h1>등장인물</h1>
    <div class="flex">
      {% for casting in play.castings.all %}
      <img src="{{casting.casting.url}}">
      {% endfor %}
    </div>

    <h1>함께한 사람들</h1>
    <p class="mid-width">윤소람 손명균 황수신 이준희 정수아 윤소람 손명균 황수신 이준희 정수아
    윤소람 손명균 황수신 이준희 정수아 윤소람 손명균 황수신 이준희 정수아
    윤소람 손명균 황수신 이준희 정수아 윤소람 손명균 황수신 이준희 정수아 </p>
  </div>
</section>

{% endif %}



<section class="play-photos">
  <div class="container">

    {% if play.images.all %}
    <h1>공연사진</h1>
    <div class="flex photo-grid">
      {% for image in play.images.all %}
        <img class="grid-photo" style="background-image: url('{{image.image.url}}')">
      {% endfor %}
    </div>
    {% endif %}

    {% if play.video_urls.all %}
    <h1>공연 관련 영상</h1>
    <div class="flex">
      <div class="play-video">
        <h3>티저 영상</h3>

        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fletmestart%2Fvideos%2F1947738842192551%2F&appId=2124710811118616" 
                scrolling="no" frameborder="0" 
                               allowTransparency="true" 
                               allow="encrypted-media" allowFullScreen="true"
                                                       autoplay="true"></iframe>
      </div>
      <div class="play-video">
        <h3>배우 인터뷰</h3>
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fletmestart%2Fvideos%2F1947738842192551%2F&appId=2124710811118616" 
                scrolling="no" frameborder="0" 
                               allowTransparency="true" 
                               allow="encrypted-media" allowFullScreen="true"
                                                       autoplay="true"></iframe>
      </div>
      <div class="play-video">
        <h3>극 공개</h3>
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fletmestart%2Fvideos%2F1947738842192551%2F&appId=2124710811118616" 
                scrolling="no" frameborder="0" 
                               allowTransparency="true" 
                               allow="encrypted-media" allowFullScreen="true"
                                                       autoplay="true"></iframe>
      </div>
    </div>
    {% endif%}
  </div>

</section>
{% endblock content %}



