{% extends "base.html" %}
{% load static %}
{% load homepage_extras %}
{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block swiper %}
{{block.super}}
<script>

  $(function(){

    $(window).ready(function(){

      var playSwiperParams = {
        slidesPerView:3,
        spaceBetween:0,
        pagination: {
          el: '.swiper-pagination',
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        breakpoints: {

          480: {
            slidesPerView:1,
          },

          768:{
            slidesPerView:2,
          }

        },

      }
      
      var ww = $(window).width();

      if (ww < 480){
        playSwiperParams['slidesPerView']= 1;
      }
      console.log(playSwiperParams['slidesPerView']);
      var playSwiper = new Swiper('.swiper-playphotos', playSwiperParams);
    })


})
</script>
{% endblock swiper %}

{% block content %}

{% static "" as baseUrl %}
{{block.super}}
<!-- Slider main container -->
<section class="conB">
  <div class="container">   
    <div class="description">

      <h1> 정기공연 </h1>
      <p class="mid-width">정기공연은 렛미의 꽃! 렛미스타트의 모든 활동은 
      정기공연을 위한 것이라고 해도 과언이 아닙니다. 
      극의 선정부터 대본 각색, 넘버 해석, 무대 제작, 홍보와 기획까지 
      렛미의 손을 거치지 않는 곳이 없습니다.   
      제 1회 정기공연 '김종욱 찾기' 부터, 제 15회 정기공연 '소울라이트'까지 
      1년에 2회씩 총 15회의 정기공연을 성공적으로 올렸습니다.
      </p>          
    </div>

    <div class="swiper-container swiper-container-small swiper-poster">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <!-- Slides -->
        {% if play_list %}
        {% for play in play_list %}
          
        <div class="swiper-slide">
          <div>
            <a class="img-description" href="{% url 'play'%}?id={{play.idx}}#playprofile">
              자세히 보기
            </a>
            <img src="{{play.poster.url}}">
          </div>

        </div>

        {% endfor %}
        {% else %}
        <p>No polls are available.</p>
        {% endif %}

        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination">
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div style="height: 30px;" id="playprofile"></div>
  </div>

</section>

<section class="play-profile">
  <div class="container flex">

    <div class="play-poster">

      <a class="fancy-wrapper" data-fancybox="gallery" href="{{play.poster.url}}">
        <img src="{{play.poster.url}}" alt="">
      </a>
    </div>

    <div class="play-description text text-responsive">
      <h2 style="margin-top: 10px;">제{{play.idx}}회 정기공연 </h2> 
      <h1>{{play.title}}</h1>
      <h3>시놉시스</h3>
      <p>{{play.synopsis}}</p>
    </div>
  </div>

</section>



<section class="play-people play-photos">

  <div class="container">

    {% if play.castings.all %}
    <h1>등장인물</h1>
    <div class="swiper-container swiper-playphotos" style="height:fit-content;">
      <div class="swiper-wrapper">
      {% for casting in play.castings.all %}
        <div class="swiper-slide">
          <a data-fancybox="gallery" href="{{casting.casting.url}}">  
            <img style="max-height:400px; min-height:0;"src="{{casting.casting.url}}">
          </a>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    {% endif %}

    {% if play.images.all %}
    <h1>실황 사진</h1>
    <div class="swiper-container swiper-playphotos">
      <div class="swiper-wrapper">
        {% for image in play.images.all %}
        <div class="swiper-slide">
          <a data-fancybox="gallery" href="{{image.image.url}}">  
            <img style="background-image: url('{{image.image.url}}')">
          </a>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    {% endif %}


    {% if play.rel_images.all %}
    <h1>과정들</h1>
    <div class="swiper-container swiper-playphotos">
      <div class="swiper-wrapper">
      {% for photo in play.rel_images.all %}
      <div class="swiper-slide">
        <a data-fancybox="gallery" href="{{photo.photo.url}}">  
          <img style="background-image: url('{{photo.photo.url}}')">
        </a>
      </div>
      {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
        
    </div>
    {% endif %}
    <!--
    {% if play.video_urls.all %}
    <h1>공연 관련 영상</h1>
    <div class="flex video-grid">

      {% for video in play.video_urls.all %}
      <div class="play-video">
        <h3>{{video.category}}</h3>

        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fletmestart%2Fvideos%2F{{video.video_url}}%2F&appId=2124710811118616" 
                scrolling="no" frameborder="0" 
                               allowTransparency="true" 
                               allow="encrypted-media" allowFullScreen="true"
                                                       autoplay="true"></iframe>
      </div>
      {% endfor %}
    </div>
    {% endif%}
    !-->

    <h1 style="border:none; text-align:center;">함께한 사람들</h1>
    <p class="mid-width">
    {% with members=play.members.all|distinct:"name"  %}
    {% for member in members|dictsort:"name" %}
    <span>{{member.name}} </span>
    {% endfor %}
    {% endwith %}
    </p>


  </div>
</section>
{% endblock content %}



