
{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}

{% static "" as baseUrl %}
{{block.super}}
<!-- Slider main container -->
<section class="conB">
  <div class="container">   
    <div class="description">

      <h1> 렛미스타트와 함께하실 새로운 16기를 찾습니다!</h1>

    </div>

    <section class="recruit">

      <div class="container">
        <h1>1. 지원기간</h1>
        <p class="mid-width">
        9월 5일 ~ 9월 21일 (21일에서 22일 넘어가는 자정까지)
        </p>
      </div>

      <div class="container">
        <h1>2. 지원자격</h1>
        <p class="mid-width">
        1년 이상 연속 활동이 가능한 서울대학교 구성원 누구나!<br>
        ✨뮤지컬하면 나!라고 생각하시는 분! <br>
        ✨뮤지컬을 잘 몰라도, 한 번뿐인 대학생활에서 잊지 못할 추억을 만들고 싶으신 분!<br>
        ✨‘함께’ 극을 올린다는 보람과 더불어 ‘함께’ 한다는 렛미뽕에 거하게 취하고 싶으신 분!<br>
        ✨진짜 진국인 사람들과 소중한 인연을 만들고 싶으신 분!<br>
        모두모두 주저하지 말고 지원해주세요!
        </p>
      </div>
      <div class="container">
        <h1>3.지원분야</h1>
        <p class="mid-width">
        기획 / 무대 / 배우 / 연출 / 음악 <br>
        (복수 지원이 가능합니다)
        </p>
      </div>
      <div class="container">
        <h1>4. 일정</h1>
        <p class="mid-width">
        면접 : 9월 27일, 28일 / 10월 1일, 2일
        </p>
      </div>
      <div class="container">
        <h1>5.지원방법</h1>
        <p class="mid-width">
        1. 아래 링크를 통해 렛미스타트 지원서를 확인합니다.<br>
        <a href="https://drive.google.com/file/d/1MY9e2NqUuXvT8ItJLgoqaaYK5gH026GL/view">워드</a>        
        <br>				
        <a href="https://drive.google.com/file/d/1wERHKS-J9MPA6AjtrjfaENSFF-SFbjuI/view">한글</a> <br>
        <br>	
        2. 지원서를 다운 받아 작성합니다.<br>
        <br>				
        3. letmestart1415@gmail.com으로 지원서를 형식에 맞춰 전송합니다. 답신 이메일을 받으면 접수가 완료됩니다. 접수 완료 메일은 접수 후 24시간 이내에 발송됩니다.<br>

        </p>
      </div>

      <div class="container">
        <h1> 6. 더 자세한 리크루팅 문의</h1>
        <p class="mid-width">

        - 페이스북 페이지 서울대학교 뮤지컬 동아리 let me start<br>
        - 카카오톡 플러스친구 ‘렛미스타트’ 친구 추가<br>
        - 공동 대표 이광표 01022491308<br>
        - 공동 대표 김소연 01077365191<br>
        <br>
        서울대학교 단과불문! 학번불문! 학우 ‘모두’에게 열려 있는 렛미스타트가 16기 여러분을 기다립니다. <br> 많은 관심과 지원 부탁드립니다.
        <br><br>
        </p>
      </div>

      <p class="mid-width">
      ※지원서 접수 후 접수완료 이메일을 받지 못한 지원자 분은 010-3783-1291 혹은 렛미스타트 카카오톡 옐로아이디로 연락 부탁드립니다.※
      <br><br>
      </p> 
    </section>
</section>
{% endblock content %}


