@charset "UTF-8";


:root{
  --main-color: #2F0655;
  --accent-color: #624211;
  --dark-color: #18032B;
  --point-color: #17883F;
  --text-bright-color: #ffffff;
  --icon-color: #fff;
  --icon-bg-color: #ddd;
  --large-width: 1080px;
  --medium-width: 800px;
  --header-height: 60px;
  --header-height-border: 63px;
  --bg-beige: #F3EFE7;
  --bg-purple: #EAE6EE;
  --bg-brown: #4C251C;
  --bg-gold: #CB8C01;
}


body{
  margin:0;
  padding: 0;
  font-family: '맑은 고딕',
    'Apple SD Gothic Neo',
    sans-serif;
  font-size: 16px;
}

#content_wrap{
  padding-top: 60px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}



.conA {
   
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(rgba(24,3,43,0.3), rgba(24,3,43,0.2)), url('../img/spotlight.png');
  /*background-image: linear-gradient(rgba(24,3,43,0.2), rgba(0,0,0,0.2)), url('../img/curtain-purple-bg.jpg');
  */
  background-size:cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-origin: content-box;
  text-align: center;
}

.conA .container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.conA .spacer{
  display: block;
  width: 100%;
  flex: 0 0 65px;
}

.conA .iframe-wrap{ 
  display:flex;
  align-items: center;
  justify-content: center;
  flex: 1; 
}

.conA iframe{
  max-width: 1080px;
  width: 101%;
  height: 98%; 
}

/*
.conA .facebook-responsive{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

}*/


.conA h1{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 10vw;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.2em;
  margin-left: 0.2em;
  color: #fff;
  color: var(--text-bright-color);

}

.conA p{
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  color: var(--text-bright-color);
  font-size: 18px;
}

.conA img{
  width: 20%;
}

.conA a{
  display: inline-block;
  padding: 10px 30px;
  border: solid 3px #C26956;
  border-radius: 8px;
  background-color: #A35848;
  background-color: var(--accent-color);
  color: #fff;
  color: var(--text-bright-color);
  font-size: 14px;
  text-decoration: none;

}

@media(min-width: 768px){

  .conA h1{
    font-size:60px;
  }

  .conA p{
    font-size: 28px;
  }

}

/* ConB : Play*/

.conB{
  text-align: center;
  background-color: #F3EFE7;
}

.conB .container{
  padding-top: 70px;
  padding-bottom: 90px;
}

.conB .description{
  flex: 0 0 100%;
}


.conB h1{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 40px;
  padding-bottom:5px;
  border-bottom: solid 2px var(--bg-gold);
  font-size: 28px;
}

.conB p{
  display: block;
  padding:0;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 1.8em;
  opacity: 0.8;
  font-size: 18px;

}

.swiper-container {
    margin-bottom: 30px;
    height: 400px;
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    background-color: #333;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.1));
    
  
  }

.swiper-wrapper{
  height: fit-content;
}

.swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img{
  width: 100%;
}

.swiper-slide:hover{
  opacity:0.8;
}
@media(min-width: 768px){
  .conB .container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;

    }
}

/* conE : Team */

.conE{
  background-color: #EAE6EE;
  color: #000;
  text-align: center;
}

.conE .container{
  padding-top: 70px;
  padding-bottom: 90px;

}

.conE .description{
  flex: 0 0 100%;
}


.conE h1{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 40px;
  padding-bottom:5px;
  border-bottom: solid 2px #000;
  font-size: 28px;
}

.conE p{
  display: block;
  padding:0;
  margin-top: 0;
  margin-bottom: 60px;
  line-height: 1.8em;
  opacity: 0.8;
  font-size: 18px;

}

.conE .text{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  text-align:center;
}

.conE .icon{
  display: inline-block;
  margin-bottom: 10px;
  font-size: 80px;
  width: 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #eee;
  color: #fff;
  color: var(--main-color);
}

.conE .text p{
  height: 65px;
  font-size: 16px;
}


.conE a{
  display:inline-block;
  color: var(--main-color);

  text-decoration: none;
}

.conE a:hover{
  text-decoration: underline;
}

@media(min-width: 768px){
  
  .conE .container{
    display: flex;
    flex-wrap : wrap;
    max-width: 1080px;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }
  .conE .text{
    flex: 1;
  }

}

.conC{
  background-color: var(--main-color);
  color: var(--text-bright-color);
}

.conC .text{
  padding:20px;
}

.conC .photo{
  min-height: 200px;
  background-image: url('../img/note.jpg');
  background-size: cover;
  background-position: center;
}

.conC h2{
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 20px;
  opacity: 0.9;
}

.conC p{
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8em;
  opacity: 0.8;
}

.conC a{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;

  border: solid 2px var(--accent-color);
  border-radius: 6px;
  background-color: #A35848;
  background-color: var(--accent-color);
  color: #fff;
  color: var(--text-bright-color);
  font-size: 14px;
  text-decoration:none;
}

.conC a:hover{
  background-image: linear-gradient(
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.2)
  );
}


@media(min-width: 768px){
  .conC .container{
    display: flex;
    max-width: 1080px;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }
  .conC .photo{
    flex: 3;
  }
  .conC .text{
    flex: 2;
    padding: 50px;
  }
}


.conD .container{
  padding-top: 20px;

}

.conD h2{
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
}

.conD p{
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8em;
  opacity: 0.8;
}

.conD .photo{
  min-height: 200px;
  background-image: url('../img/life.jpg');
  background-size: cover;
  background-position: center;
}


.conD a{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;

  box-shadow: 0 0 0 1px #888;
  border: solid 3px var(--text-bright-color);
  border-radius: 6px;
  background-color: #A35848;
  background-color: var(--accent-color);
  color: #fff;
  color: var(--text-bright-color);
  font-size: 14px;
  text-decoration:none;
}

.conD a:hover{
  background-image: linear-gradient(
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.2)
  );
}


@media(min-width: 768px){

  .conD .container{
    display: flex;
    max-width: 1080px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row-reverse;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
  }

  .conD .photo{
    flex: 0 0 400px;
  }

  .conD .text{
    flex: 1;
    padding: 50px;
  }
}

#MOVE_TOP_BTN {
    position: fixed;
    font-size: 35px;
    color: #000;
    right: 5%;
    bottom: 50px;
    display: none;
    z-index: 101;
    text-decoration: none;

  }


footer{
  background-color: #ddd;
  text-align: center;
}


@media(min-width: 768px){
  footer .container{
    max-width: 1080px;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
   
}

footer .container{
  padding-top: 40px;
  padding-bottom: 40px;
}

footer a{
  color: inherit;
  text-decoration: none;
  display:block;
}

#footer-logo{
  width: 20vw;
  margin: 0px; 
  z-index: -100;
}

footer p{
  font-size: 14px;
  line-height: 1.8em;
}

.footer-sns {
  margin-top:10px;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
}

.footer-sns ul{
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0;
}

.footer-sns a{
  display: block;
  margin-right: 8px;
  padding: 0;
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  border: solid 1px currentcolor;
  border-radius: 50%;
  width: 2em;
  line-height: 2em;
  text-align: center;

}

footer .copyright {
  margin-top: 10px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

header{
  position: fixed;
  z-index: 101;
  width: 100%;
  background: transparent;
}

header.active{
  background-image: linear-gradient(rgba(24,3,43,1), rgba(23,4,43,0.7)), url("../img/spotlight.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.headA {
  display: inline-block;

}

.headA img{ 
  height:60px;
  padding: 5px 0px;
  box-sizing: border-box;
}

.headB ul{
  margin: 0px;
  padding: 0px;
  list-style: none;

}

.headB a{
	box-sizing: border-box;
  display: block;
	max-height: 60px;
  padding: 25px;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

.headB ul li ul {
  display: none;
  position: absolute;
  color: var(--bg-beige);
  background-color: var(--dark-color);
  z-index: 101;
}

.headB ul li:hover ul{
  display: block ;

}


.headB ul li ul li{
  line-height: 0.2;
  padding:0;
  margin:0;
 }

.headB ul li:hover{
  background-color: var(--dark-color);
} 
.headB a:hover{
  color: var(--dark-color);
  background-color: var(--bg-beige);
}


.headC{
  margin-right: 10px;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  font-size: 28px;
  opacity: 0.5;
  color: #fff;
  cursor: pointer;

}

header .container-small{
  height: 60px;
}


@media(max-width: 767px){

  header .container-small{
    display: flex;
    height:60px;
    align-items: center;
    justify-content: space-between;
  }

  .headC:hover{
    opacity: 0.3;

  }
  .headB {
    display: none;
  }
}

@media(min-width: 768px){

  header .container{
    display: flex;
    max-width: 1080px;
    max-width: var(--large-width);
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .headB{
    display:flex;
  }

  .headB ul{
    display: flex;
  }
  
  .headB ul li ul{
    width: 120px;
  }

  .headC {
    display: none;
  }
}


/* ConB : Play*/

.conF{
  text-align: center;
  background-color: #F3EFE7;
}

.conF .container{
  padding-top: 70px;
  padding-bottom: 90px;
}

.conF .description{
  flex: 0 0 100%;
}


.conF h1{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 40px;
  padding-bottom:5px;
  border-bottom: solid 2px #000;
  font-size: 28px;
}

.conF p{
  display: block;
  padding:0;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 1.8em;
  opacity: 0.8;
  font-size: 18px;

}

.conF .grid-photo{
  margin: 2px;
  flex: 1 1 333px;  
  min-height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media(min-width: 768px){
  .conF .container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;

    }
  }
@media(min-width: 1000px){
  .conF .grid-photo{
        flex: 1 1 32%;
    }
}

#submenu-content{

  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 40vh;
  min-height: 300px;
  background-image: linear-gradient(rgba(24,3,43,0.5), rgba(0,0,0,0)), url('../img/nexttonormal-stage.jpg');
  /*background-image: linear-gradient(rgba(24,3,43,0.2), rgba(0,0,0,0.2)), url('../img/curtain-purple-bg.jpg');
  */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-origin: content-box;
  text-align: center;
}

#submenu-content h1{
  flex: 1;
  margin-bottom: 0px;
  color: var(--bg-beige);
  color: #5D1051;
  font-size: 48px;
}

.submenu-nav{
  flex: 0 0 50px;

}

#submenu-content .container{
  display: flex;
  flex-direction: column;
  height:100%;
  width: 100%;
  max-width: 1080px;
  max-width: var(--large-width);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.submenu-nav ul{
  display:flex;
  padding:0;
  margin:0;
  list-style:none;
}

.submenu-nav li{
  flex:1;
  display: flex;
  height: 8vh;
  align-items:center;
  justify-content: center;
}

.submenu-nav li.active{
  background-color:var(--bg-gold);
}

.submenu-nav li:hover{
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3));
}

.submenu-nav a{
  flex:1;
  color: var(--bg-beige);
  font-size: 18px;
  text-decoration: none;
}

.counter-container{
  display: flex;
  padding: 10px 0;
  width: 100%;
}

.wrap-counter{
  flex: 1;
}

.counter{
  padding: 2px;
  font-size: 3vw;
  font-weight:bold;
}


