<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <title>서울대학교 뮤지컬동아리 렛미스타트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Jua|Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  
    {%block stylesheets %}

    <!-- for Photoslide!--> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css"> 
    {% endblock stylesheets %}

    <link rel="stylesheet" href="{% static 'css/style3.css' %}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% block jqueryplugin %}
    {% endblock jqueryplugin %}

    <script src="https://use.fontawesome.com/926fe18a63.js"></script>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script> 
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js"></script>
    
    {%  block javascript %}

    {% endblock javascript %}
    
    {% block swiper %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.esm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.esm.bundle.js"></script>
    <script>
      $(function(){


        $(window).ready(function () {
          
          var swiperParams = {
            // Optional parameters

            // If we need pagination
            initialSlide: {{initial_slide}}, 
            slidesPerView: 4,
            spaceBetween: 40,
            centeredSlides: true,
            pagination: {
              el: '.swiper-pagination',
              clickable: 'true'
            },

            // Navigation arrows
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },

            breakpoints: {
            
              480: {
                slidesPerView:2,
              },

              768:{
                slidesPerView:3,
              }
            }

          }
         
          var ww = $(window).width();


          var m_swiperParams = {
            slidesPerView:'auto',
            pagination: {
              el: '.swiper-pagination',
            },
            breakpoints: {

              480: {
                slidesPerView:1,
              },

              768:{
                slidesPerView:3,
              }

            },
          
          }

          if (ww < 480){
            swiperParams['slidesPerView']= 2;
            m_swiperParams['slidesPerView']= 1;
            console.log(swiperParams['slidesPerView']);
          }
          //initialize swiper when document ready
          var mySwiper = new Swiper ('.swiper-poster', swiperParams);

          var m_mySwiper = new Swiper ('.swiper-general', m_swiperParams);
        })
      });


    </script>

    {% endblock swiper %}


    <script>
      function fnMove(name){
        var offset = $(name).offset();
        $('html, body').animate({scrollTop : offset.top}, 400);
      }
    </script>


    <script>
      $(function() {

        $('.headC').click(function(){
          $('.headB.m_menu').slideToggle();
          $('header').toggleClass('black-background', 400);
        });

        $('.headB > ul > li').click(function(){
          $('ul', this).slideToggle("fast")
        })

        $(window).scroll(function() {
          if ($(this).scrollTop() > 400) {
            $('#MOVE_TOP_BTN').fadeIn("fast");
          } else {
            $('#MOVE_TOP_BTN').fadeOut("fast");
          }
        });

        $(window).scroll(function(){
          if ($(this).scrollTop() > $('.sectionA').height()-150) {
            $('header').addClass('active');
          } else {
            //remove the background property so it comes transparent again (defined in your css)
            $('header').removeClass("active");
          }
        });


        $("#MOVE_TOP_BTN").click(function() {
          $('html, body').animate({
            scrollTop : 0
          }, 400);
          return false;
        });

        $(window).load(function(){
          $(".se-pre-con").fadeOut("slow");

        });

      });
/*
      $(window).load(function() {
        // Animate loader off screen 
        $("iframe").load(function(){
          $(".se-pre-con").fadeOut("slow");;
        })

     });*/

    </script>



  </head>

  <body>

    <div class="se-pre-con"></div> 

    <!--
      {% block facebookSDK %}
      {% endblock facebookSDK %}
      !--> 
      <header>
        <div class="container">
          <div class="container-small">
            <button type="button" class="headC">
              <span class="fa fa-bars" title="MENU"></span>
            </button>
            <div class="headA">
              <a href="{% url "index" %}" >
                <img id="logo-header" src="{% static 'img/letmestart_logo_real_white.svg' %}" alt=""/>
              </a>
            </div>
          </div>

          <nav class="headB"> 
            <ul>
              <li>
                <a href="{% url "intro" %}">소개</a>

                <ul class="submenu">
                  <li><a href="{% url "intro" %}">렛미스타트</a></li>
                  <li><a href="{% url "team" %}">구성</a></li>
                  <li><a href="{% url "greeting" %}?id=0">인사말</a></li>
                </ul>

              </li>
              <li>
                <a href="{% url "play"%}">활동</a>

                <ul class="submenu">
                  <li><a href="{% url "play" %}">정기공연</a></li>
                  <li><a href="{% url "gala" %}">갈라쇼</a></li>
                  <li><a href="{% url "activity" %}">주요활동</a></li>
                </ul> 
              </li>

              <li><a href="{% url "member" %}">사람들</a></li>
              <li>
                <a href="{% url "recruit"%}">지원</a>
                <ul class="submenu">
                  <li><a href="{% url "recruit" %}">지원과정</a></li>
                  <!--<li><a href="#">면접</a></li>
                    !-->
                    <li><a href="{% url "FAQ" %}">자주묻는질문</a></li>
                </ul>
              </li>
              <!--
                <li><a href="{% url "contact" %}">문의</a></li>
                !-->
            </ul>
          </nav>


          <!--mobile menu !-->
          <nav class="headB m_menu"> 
            <ul>
              <li>
                <a>소개</a>

                <ul class="m_submenu">
                  <li><a href="{% url "intro" %}">렛미스타트</a></li>
                  <li><a href="{% url "team" %}">구성</a></li>
                  <li><a href="{% url "greeting" %}?id=0">인사말</a></li>
                </ul>

              </li>
              <li>
                <a>활동</a>

                <ul class="m_submenu">
                  <li><a href="{% url "play" %}">정기공연</a></li>
                  <li><a href="{% url "gala" %}">갈라쇼</a></li>
                  <li><a href="{% url "activity" %}">주요활동</a></li>
                </ul> 
              </li>

              <li>
                <a>사람들</a>

                <ul class="m_submenu">
                  <li><a href="{% url "member" %}">사람들</a></li>
                </ul>
              </li>
              <li>
                <a>지원</a>
                <ul class="m_submenu">
                  <li><a href="{% url "recruit" %}">지원과정</a></li>
                  <li><a href="{% url "FAQ" %}">자주묻는질문</a></li>
                </ul>
              </li>
              <!--
                <li><a href="{% url "contact" %}">문의</a></li>
                !-->
            </ul>
          </nav>

        </div>
      </header>

      </div>


      {% block content %}
      <script>
        $(function(){

          $("header > div > nav > ul > li:nth-child({{type_submenu}})").addClass('active');
          $("#submenu-content > div > nav > ul > li:nth-child({{idx_submenu}})").addClass('active');

        });
      </script>
      <div id="submenu-content" class="sectionA">
        <div class ="container">
          <div class="m-submenu-title">
            <h1>{{submenu_title}}</h1>
          </div>
          <nav class="submenu-nav">
            <ul>

              {% if type_submenu == 1 %}

              <li><a href="{% url "intro" %}">렛미스타트는</a></li>
              <li><a href="{% url "team" %}">구성</a></li>
              <li><a href="{% url "greeting" %}?id=0">인사말</a></li>

              {% elif type_submenu == 2 %}

              <li><a href="{% url "play" %}">정기공연</a></li>
              <li><a href="{% url "gala" %}">갈라쇼</a></li>
              <li><a href="{% url "activity" %}">주요활동</a></li>

              {% elif type_submenu == 4 %}

              <li><a href="{% url "recruit" %}">지원과정</a></li>
              <li><a href="{% url "FAQ" %}">자주묻는질문</a></li>

              {% else %}

              {% endif %}
            </ul>
        </div>
      </div>

      {% endblock content %}


      <a id="MOVE_TOP_BTN" href="#">
        <span class="fa fa-arrow-circle-up">
      </a>


      <footer>
        <div class="container">

          <a href="{% url 'index' %}" >
            <img src="{% static 'img/letmestart_logo_black.svg' %}" id="footer-logo"/>
          </a>

            <p>
            공동대표 | 이민정: 010-0000-0000 
            | 하윤지: 010-0000-0000 <br>
            E-mail | letmerecruit@gmail.com 
            </p>

            <nav class="footer-sns">  
              <ul>
                <li><a href="https://www.facebook.com/letmestart/">
                    <span class="fa fa-facebook"
                          title="Facebook"></span>
                  </a>
                </li>

                <li><a href="https://www.instagram.com/let_me_start/">
                    <span class="fa fa-instagram"
                          title="Instagram"></span>
                  </a>
                </li>


                <li><a href="https://www.instagram.com/let_me_start/">
                    <span class="fa fa-comment"
                          title="Instagram"></span>
                  </a>
                </li>
              </ul>
            </nav>
            <div class="copyright">  
              © Let me start. All rights reserved.
            </div>

        </div>
      </footer>

  </body>

</html>
